/*
	THEME.CSS
	@Sebxx's portfolio
*/

a {
    color: #F4F5ED;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover {
	color: #DC4E00;
}

body {
    background: #f4f5ed;
    font-family: "sans-serif", helvetica, arial;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #dc4e00;
}

header #sidebar.collapsed,
header #sidebar.collapsed nav {
    width: 50px
}

header #sidebar.collapsed i.fa-bars {
    display: block;
}

header #sidebar.collapsed figure,
header #sidebar.collapsed .socialMedia,
header #sidebar.collapsed ul.sideMenu li a span,
header #sidebar i.fa-bars,
header #sidebar.collapsed i.fa-compress {
    display: none;
}

header #sidebar.collapsed ul.sideMenu li a {
    padding: 20px 0;
    text-align: center;
}

header #sidebar.collapsed i.fa-bars {
    color: #f4f5ed;
    cursor: pointer;
    display: block;
    font-size: 2em;
    padding: 30px 0;
    text-align: center;
    transition: all ease 0.5s;
}

header #sidebar.collapsed i.fa-bars:hover {
    background: #f4f5ed;
    color: #dc4e00;
}

header #sidebar.collapsed nav ul.sideMenu li a.submenuParent::after {
    content: "";
}

header #sidebar {
	background: #929487 none repeat scroll 0 0;
	display: inline-block;
	max-height: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
    transition: all ease 0.5s;
	width: 20%;
	z-index: 1;
}

header #sidebar i.fa-compress {
    color: #f4f5ed;
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
    padding: 20px;
    position: absolute;
    right: 0;
    transition: all ease 0.5s;
    z-index: 1;
}

header #sidebar i.fa-compress:hover {
    color: #dc4e00;
    transform: rotate(45deg);
}

nav {
    display: block;
    position: relative;
    width: 100%;
}

nav ul {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

nav ul.sideMenu li {
    display: block;
    position: relative;
    width: auto;
}

ul.sideMenu li a {
    cursor: pointer;
    display: block;
    padding: 20px;
    position: relative;
    text-transform: uppercase;
}

ul.sideMenu li a span {
    padding-left: 30px;
}

ul.sideMenu li a.subitem span {
    padding: 10px;
}

nav ul.sideMenu li .submenu {
    background:  #929487;
    display: none;
    left: 100%;
    position: absolute;
    top: 0;
}

nav ul.sideMenu li a.submenuParent::after {
    content: "\f107";
    font-family: "Fontawesome";
}

nav ul.sideMenu li a.subitem {
    display: block;
    font-size: 0.8em;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-transform: capitalize;
}

nav ul.sideMenu li a:hover {
	background: #DC4E00;
	color: #F4F5ED;
}

footer {
    background: #929487 none repeat scroll 0 0;
    bottom: 0;
    color: #f4f5ed;
    display: block;
    font-size: 0.6em;
    height: 50px;
    line-height: 1.5;
    padding: 10px 0;
    position: fixed;
    transition: all ease 0.5s;
    width: 100%;
}

footer .footerContent {
    margin-left: 20%;
    width: 80%;
}

footer.collapsed {
    margin-left: 50px;
    width: calc(100% - 50px);
}

.footerContent > strong {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#sidebar figure {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    max-width: 250px;
    overflow: hidden;
    padding-top: 50px;
    position: relative;
    text-align: center;
}

#sidebar figure.profilePicture img {
	border-radius: 100%;
    display: block;
    height: 200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    width: auto;
}

#sidebar .profilePicture > strong {
    color: #f4f5ed;
    display: block;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 5px;
}

#sidebar .profilePicture > small {
    color: #f4f5ed;
    display: block;
    font-size: 1em;
    font-weight: lighter;
    padding: 5px;
}

/*
    SPINNER animation
*/

.sebxxSpinner {
    display: none;
    height: 80px;
    left: calc(50% + 40px);
    margin: 100px auto;
    position: absolute;
    top: 100px;
    width: 80px;
    z-index: 2147483647;
}

.sebxxSpinner .cube1, .sebxxSpinner .cube2, .sebxxSpinner .cube3 {
  background-color: #D4550F;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 2.7s infinite ease-in-out;
  animation: sk-cubemove 2.7s infinite ease-in-out;
}

.sebxxSpinner .cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sebxxSpinner .cube3 {
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(50px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(50px) translateY(50px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(50px) rotate(-270deg) scale(0.5) }
  50% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(50px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(50px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(50px) translateY(50px) rotate(-179deg);
    -webkit-transform: translateX(50px) translateY(50px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(50px) translateY(50px) rotate(-180deg);
    -webkit-transform: translateX(50px) translateY(50px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(50px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(50px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/*
    END spinner
*/

#top {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

#siteContainer {
    color: #929487;
    display: inline-block;
    margin-left: 20%;
    margin-top: -20px;
    max-height: 100%;
    min-height: 100%;
    position: fixed;
    transition: all ease 0.5s;
    width: 80%;
}

#siteContainer.collapsed {
    margin-left: 50px;
    width: auto;
}

.site {
	width: 100%;
}

.socialMedia {
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: 100%;
}

.socialMedia a i {
    font-size: 1.8em;
    line-height: 1;
    padding: 5px 10px;
    transition: all 0.5s ease 0s;
}

.socialMedia a i.fa-github:hover {
	color: #333333;
}

.socialMedia a i.fa-linkedin:hover {
	color: #1985BC;
}

.socialMedia a i.fa-twitter:hover {
	color: #55ACEE;
}

#siteContainer .heading {
    background: rgba(0, 0, 0, 0) url("../assets/img/cover.jpg") repeat scroll center center / cover ;
    display: block;
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#siteContainer .heading.noName {
    height: 200px;
}

.heading > figure {
    display: block;
    height: 200px;
    left: calc(50% - 300px);
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 75px;
    width: 500px;
}

.heading > figure img {
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    width: 200px;
    z-index: 1;
}

.heading > figure span {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    color: #f4f5ed;
    display: inline-block;
    left: 100px;
    padding: 10px 10px 10px 100px;
    position: absolute;
    width: 300px;
}

.heading figure strong {
    display: block;
}

.siteContent {
    box-shadow: 0 -20px 25px 15px #f4f5ed;
    margin-bottom: 150px;
    padding: 30px;
    position: relative;
}

.siteContent section {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 80%;
}


.description .level .levelType {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 30%;
}

.description .level .levelType:nth-of-type(3n+1) {
    padding-left: 10%;
}

.levelType ul.items {
    list-style: outside none none;
    text-indent: 2px;
}

.levelType ul.items li::before {
    content: "✔";
    margin-left: -1em;
    margin-right: 0.1em;
}

.portfolioContainer .portfolioItem {
    cursor: pointer;
    background: rgba(146, 148, 135, 0.04) none repeat scroll 0 0;
    display: inline-block;
    height: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -webkit-transition: all 0.5s ease 0.5s;
    -ms-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    width: 250px;
}

.portfolioContainer .portfolioItem:nth-child(4n) {
    margin-right: 0;
}

.portfolioContainer .portfolioItem > figure {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.portfolioContainer .portfolioItem figure > img {
    display: block;
    padding: 10px;
    position: relative;
    width: 230px;
}


.portfolioContainer .portfolioItem .entry {
    background: rgba(220, 78, 0, 0.6) none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    height: 150px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -webkit-transition: all 0.5s ease 0.5s;
    -ms-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    top: 120px;
    width: 250px;
}

.portfolioContainer .portfolioItem .entry #title {
    display: block;
    padding: 0 5px;
    position: relative;
    transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -webkit-transition: all 0.5s ease 0.5s;
    -ms-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
}

.entry > #technologies {
    display: block;
    max-height: 158px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    top: 30px;
}

.entry #technologies img {
    display: inline-block;
    opacity: 0.6;
    position: relative;
    width: 42px;
}

.portfolioContainer .portfolioItem:hover .entry {
    transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -webkit-transition: all 0.5s ease 0.5s;
    -ms-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    transform: translateY(-120px);
    -moz-transform: translateY(-120px);
    -webkit-transform: translateY(-120px);
    -ms-transform: translateY(-120px);
    -o-transform: translateY(-120px);
}

.portfolioContainer .portfolioItem:hover .entry #title {
    font-weight: bolder;
    transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -webkit-transition: all 0.5s ease 0.5s;
    -ms-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
}


.modal {
    background: transparent;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.modal .modalContainer {
    background: #f1f1f1 none repeat scroll 0 0;
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    top: 50px;
    width: 70%;
}

.modalContainer i.close {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.modal .modalContainer > figure {
    display: inline-block;
    margin: 0;
    position: relative;
    width: 50%;
}


.modal .modalContainer figure > img {
    margin: 5%;
    width: 90%;
}


.modal .modalContainer figure span a {
    color: #dc4e00;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.modal .modalContainer .itemDescription {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 49%;
}

.modal .modalContainer .technos {
    display: block;
    padding: 0 5%;
    position: relative;
    width: 90%;
}

.modal .modalContainer .technos > span {
    display: inline-block;
    font-size: 12px;
    height: 80px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: auto;
}

.modal .modalContainer .technos img {
    display: block;
    height: 50px;
    margin: 0 auto;
    position: relative;
    width: 50px;
}

.modal .modalContainer .text {
    display: block;
    font-size: 15px;
    line-height: 1.1;
    padding: 0 5%;
    position: relative;
}

/*
    RESPONSIVE queries
*/

/*
    LAPTOPS, TABLETS & iPADs (portrait & landscape)
*/

@media screen and (max-width: 980px) {
    header #sidebar {
        display: inline-block;
    }
    #sidebar figure,
    ul.sideMenu li > a span,
    header #sidebar i.fa-compress {
        display: none;
    }
    .socialMedia,
    header #sidebar {
        width: 50px;
    }
    #sidebar .mCSB_container {
        width: 50px!important;
    }
    .socialMedia {
        margin: 20px 0;
    }
    ul.sideMenu li a {
        padding: 10px 30px 10px 10px;
    }
    nav ul.sideMenu li a.submenuParent::after {
        content: "";
    }
    nav ul.sideMenu li .submenu {
        left: 50px;
        position: absolute;
        top: -40px;
    }
    footer {
        margin-left: 50px;
        width: calc(100% - 50px);
    }
    footer .footerContent {
        margin-left: 0;
        width: auto;
    }
    #siteContainer {
        margin-left: 50px;
        width: calc(100% - 50px);
    }
    #siteContainer .heading {
        height: 250px;
    }
    .heading > figure {
        height: 100px;
        left: 50px;
        top: 55px;
        width: 350px;
    }
    .heading > figure img {
        width: 100px;
    }
    .heading > figure span {
        left: 50px;
        width: 250px;
        padding: 10px 10px 10px 60px;
    }
    .sebxxSpinner {
        left: 50%;
    }
}

/*
    SMARTPHONES
*/

@media screen and (max-width: 360px) {
    .heading > figure {
        height: 175px;
        left: 0;
        top: 20px;
    }
    .heading > figure img {
        left: 25px;
    }
    .heading > figure span {
        bottom: 10px;
        height: 90px;
        left: 0;
    }
    .heading figure strong {
        left: 30px;
        position: absolute;
        top: 50px;
    }
    .heading > figure span small {
        left: 50px;
        position: absolute;
        top: 75px;
    }

    .modal .modalContainer {
        top: 290px;
        width: 85%
    }

    .modal .modalContainer > figure,
    .modal .modalContainer .itemDescription {
        width: 100%;
    }

    .itemDescription h2 {
        margin: 20px;
        text-align: center;
    }

    .modal .modalContainer .technos {
        padding: 0 3%;
        width: 94%;
    }

    .modal .modalContainer .technos > span:nth-child(4) {
        margin-right: 0;
    }

    .sebxxSpinner {
        left: calc(50% - 25px);
    }
}