/*
	THEME.CSS
	@Sebxx's portfolio
*/

a {
    color: #F4F5ED;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover {
	color: #DC4E00;
}

body {
    background: #f4f5ed;
    font-family: "sans-serif", helvetica, arial;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #dc4e00;
}

/*header {
    display: inline-block;
    position: relative;
}*/

header #sidebar.collapsed,
header #sidebar.collapsed nav {
    width: 50px
}

header #sidebar.collapsed i.fa-bars {
    display: block;
}

header #sidebar.collapsed figure,
header #sidebar.collapsed .socialMedia,
header #sidebar.collapsed ul.sideMenu li a span,
header #sidebar i.fa-bars,
header #sidebar.collapsed i.fa-compress {
    display: none;
}

header #sidebar.collapsed ul.sideMenu li a {
    padding: 20px 0;
    text-align: center;
}

header #sidebar.collapsed i.fa-bars {
    color: #f4f5ed;
    cursor: pointer;
    display: block;
    font-size: 2em;
    padding: 30px 0;
    text-align: center;
    transition: all ease 0.5s;
}

header #sidebar.collapsed i.fa-bars:hover {
    background: #f4f5ed;
    color: #dc4e00;
}

header #sidebar.collapsed nav ul.sideMenu li a.submenuParent::after {
    content: "";
}

header #sidebar {
	background: #929487 none repeat scroll 0 0;
	display: inline-block;
	max-height: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
    transition: all ease 0.5s;
	width: 20%;
	z-index: 1;
}

header #sidebar i.fa-compress {
    color: #f4f5ed;
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
    padding: 20px;
    position: absolute;
    right: 0;
    transition: all ease 0.5s;
    z-index: 1;
}

header #sidebar i.fa-compress:hover {
    color: #dc4e00;
    transform: rotate(45deg);
}

nav {
    display: block;
    position: relative;
    width: 100%;
}

nav ul {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

nav ul.sideMenu li {
    display: block;
    position: relative;
    width: auto;
}

ul.sideMenu li a {
    cursor: pointer;
    display: block;
    padding: 20px;
    position: relative;
    text-transform: uppercase;
}

ul.sideMenu li a span {
    padding-left: 30px;
}

nav ul.sideMenu li .submenu {
    display: none;
}

nav ul.sideMenu li a.submenuParent::after {
    content: "\f107";
    font-family: "Fontawesome";
}

nav ul.sideMenu li a.subitem {
    display: block;
    font-size: 0.8em;
    margin: 0 auto;
    padding: 10px 10px 10px 50px;
    position: relative;
    text-transform: capitalize;
}

nav ul.sideMenu li a:hover {
	background: #DC4E00;
	color: #F4F5ED;
}

footer {
    background: #929487 none repeat scroll 0 0;
    bottom: 0;
    color: #f4f5ed;
    display: block;
    font-size: 0.6em;
    line-height: 1.5;
    margin-left: 20%;
    padding: 10px 0;
    position: fixed;
    transition: all ease 0.5s;
    width: 80%;
}

footer.collapsed {
    margin-left: 50px;
    width: auto;
}

.footerContent > strong {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#sidebar figure {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    max-width: 250px;
    overflow: hidden;
    padding-top: 50px;
    position: relative;
    text-align: center;
}

#sidebar figure.profilePicture img {
	border-radius: 100%;
    display: block;
    height: 200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    width: auto;
}

#sidebar .profilePicture > strong {
    color: #f4f5ed;
    display: block;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 5px;
}

#sidebar .profilePicture > small {
    color: #f4f5ed;
    display: block;
    font-size: 1em;
    font-weight: lighter;
    padding: 5px;
}

#siteContainer {
    color: #929487;
    display: inline-block;
    margin-left: 20%;
    margin-top: -20px;
    max-height: 100%;
    min-height: 100%;
    position: fixed;
    transition: all ease 0.5s;
    width: 80%;
}

#siteContainer.collapsed {
    margin-left: 50px;
    width: auto;
}

.site {
	width: 100%;
}

.socialMedia {
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: 100%;
}

.socialMedia a i {
    font-size: 1.8em;
    line-height: 1;
    padding: 5px 10px;
    transition: all 0.5s ease 0s;
}

.socialMedia a i.fa-github:hover {
	color: #333333;
}

.socialMedia a i.fa-linkedin:hover {
	color: #1985BC;
}

.socialMedia a i.fa-twitter:hover {
	color: #55ACEE;
}

#siteContainer .heading {
    background: rgba(0, 0, 0, 0) url("../assets/img/cover.jpg") repeat scroll center center / cover ;
    display: block;
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.heading > figure {
    display: block;
    height: 200px;
    left: calc(50% - 300px);
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 75px;
    width: 500px;
}

.heading > figure img {
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    width: 200px;
    z-index: 1;
}

.heading > figure span {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    color: #f4f5ed;
    display: inline-block;
    left: 100px;
    padding: 10px 10px 10px 100px;
    position: absolute;
    width: 300px;
}

.heading figure strong {
    display: block;
}

.siteContent {
    box-shadow: 0 -20px 25px 15px #f4f5ed;
    padding: 30px;
    position: relative;
}

.siteContent section {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 80%;
}


/*
    RESPONSIVE queries
*/

/*
    LAPTOPS, TABLETS & iPADs (portrait & landscape)
*/

@media screen and (max-width: 980px) {
    #sidebar figure,
    ul.sideMenu li a span,
    header #sidebar i.fa-compress {
        display: none;
    }
    .socialMedia,
    header #sidebar {
        width: 50px;
    }
    #sidebar .mCSB_container {
        width: 50px!important;
    }
    .socialMedia {
        margin: 20px 0;
    }
    ul.sideMenu li a {
        padding: 15px;
    }
    nav ul.sideMenu li a.submenuParent::after {
        content: "";
    }
    nav ul.sideMenu li .submenu {
        left: 50px;
        position: absolute;
        top: -40px;
        width: 230px;
        z-index: 99999;
    }
    footer {
        margin-left: 50px;
        width: calc(100% - 50px);
    }
    #siteContainer {
        margin-left: 50px;
        width: auto;
    }
    #siteContainer .heading {
        height: 250px;
    }
    .heading > figure {
        height: 100px;
        left: 50px;
        top: 55px;
        width: 350px;
    }
    .heading > figure img {
        width: 100px;
    }
    .heading > figure span {
        left: 50px;
        width: 250px;
        padding: 10px 10px 10px 60px;
    }
}

/*
    SMARTPHONES
*/

@media screen and (max-width: 360px) {
    .heading > figure {
        height: 175px;
        left: 0;
        top: 20px;
    }
    .heading > figure img {
        left: 25px;
    }
    .heading > figure span {
        border-bottom-left-radius: 90px;
        bottom: 10px;
        height: 90px;
        left: 0;
    }
    .heading figure strong {
        left: 30px;
        position: absolute;
        top: 50px;
    }
    .heading > figure span small {
        left: 50px;
        position: absolute;
        top: 75px;
    }
}