<!--
// =============================================================================
// PORTFOLIO.HTML
// @Sebxx' portfolio
// =============================================================================
-->
<div class="heading">
	<figure>
		<img src="site/assets/img/profile.jpg">
		<span>
			<strong>Sebastián Pulgarín Yepes</strong><small>frontend developer</small>
		</span>
	</figure>
</div>
<div class="siteContent portfolioContainer">
	<div class="portfolioItem" ng-repeat="item in items" ng-click="launchModal(item)">
		<figure>
			<img ng-src="{{item.thumbnail}}">
			<div class="entry">
				<span ng-bind-html="item.title | to_trusted" id="title"></span>
				<div id="technologies">
					<img ng-repeat="tech in item.technologies" ng-src="{{technologies[tech].icon}}">
				</div>
			</div>
		</figure>
	</div>
	<ng-include src="'site/modules/modals/itemModal.html'"></ng-include>
</div>